$baseFont: 17px;
$baseWeight: 100;
$baseFontFamily: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$headingFontFamily: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$impactFontFamily: 'Moderat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$monospaceFontFamily: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
